<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="centered">
        <h1>Some error occurred!</h1>
        <h2>We are trying our best!</h2>
    </div>

<%- include('../includes/end.ejs') %>